body{

margin:0;
overflow:hidden;
background:black;
font-family:monospace;

}


canvas{

position:absolute;
top:0;
left:0;

}


.hud{

position:absolute;

top:30px;
left:30px;

color:#00ffff;

font-size:18px;

text-shadow:
0 0 10px cyan;


line-height:30px;

}

